{% load static %}

<!doctype html>
<html>
    <head>
        <title>Cloud Burgers</title>
		<meta charset="utf-8">
		<link href="{% static 'css/style.css' %}" rel="stylesheet">
    </head>
	<body>
		<section class="top">
			<h1>Helt himmelske burgere</h1>
		</section>
		<section class="bottom">
			<div class="contact">
				<h2>Cloud Dashboard</h2>
				<p><a href="#">Vestheimgata 2, Oslo</a></p>
				<p>Reservasjon i restaurant eller på tlf +47 94 84 88 33.</p>
			</div>
			<div class="menu">
				<table>
					<tr>
						<td>Burger</td>
						<td>120kr</td>
						<td>Fries</td>
						<td>30kr</td>
					</tr>
					<tr>
						<td>Dobbel</td>
						<td>135kr</td>
						<td>Søtpotet</td>
						<td>45kr</td>
					</tr>
					<tr>
						<td>Cheeseburger</td>
						<td>130kr</td>
						<td>Brus</td>
						<td>30kr</td>
					</tr>
					<tr>
						<td>Dobbel</td>
						<td>145kr</td>
						<td>Milkshake</td>
						<td>45kr</td>
					</tr>
				</table>
				<p>Alle burgere serveres med tomat, løk, salat, hjemmelaget majones og bbq-sauce.</p>
			</div>
		</section>
	</body>
</html>
