html, body {
	padding: 0;
	margin: 0;
	font-family: 'Futura';
	font-weight: 600;
	font-size: 19px;
}
.top{
	height: 70vh;
	width: 100%;
	background-image: url('../img/bg.jpg');
	background-size: cover;
	background-position: center;
}
.top h1{
	padding: 0;
	margin: 0;
	text-transform: uppercase;
	font-size: 110px;
	padding-top: 150px;
	text-align: center;
	width: 80%;
	margin: 0 auto;
	-webkit-text-stroke: 1px black;
    color: white;
    text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}
.bottom{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: flex-start;
    align-items: flex-start;
	height: 30vh;
	overflow: hidden;
}
.bottom .contact{
	display: inline-block;
	width: 50%;
	white-space: normal;
	color: #eb6161;
	padding: 30px 30px 0px 30px;
	height: 100%;
}
.bottom .contact h2{
	font-size: 40px;
	margin: 0;
}
.bottom .contact a{
	color: #eb6161;
}
.bottom .contact p{
	width: 40%;
}
.bottom .menu{
	display: inline-block;
	background-color: #eb6161;
	color: white;
	width: 50%;
	white-space: normal;
	padding: 30px;
	height: 100%;
}
.bottom .menu table{
	table-layout: fixed;
	width: 350px;
	display: inline-block;
}
.bottom .menu table td{
	width: 200px;
}
.bottom .menu p{
	width: 70%;
}

@media (max-width: 600px){
	.top h1{
		font-size: 55px;
		padding: 100px 0 0 0;
		width: 100%;
	}
	.bottom{
		display: relative;
		height: auto;
		display: block;
	}
	.bottom .contact{
		width: 100%;
		display: block;
	}
	.bottom .menu{
		width: 100%;
		display: block;
	}
	.bottom .menu p{
		width: 90%;
	}
	.bottom .menu table{
		table-layout: auto;
		width: auto;
		display: block;
	}
	.bottom .menu table td{
		min-width: 200px;
	}
	.bottom .contact p{
		width: 90%;
	}
}