{% load staticfiles %}

<!doctype html>
<html>
    <head>
        <title>Cloud Burgers</title>
		<meta charset="utf-8">
		<link href="{% static 'css/login.css' %}" rel="stylesheet">
		<meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
	<body>
    {{ error_message }}
		<form action="{% url 'dashboard:login' %}" method="post">
      {% csrf_token %}
			<input type="name" name="name" placeholder="E-post">
			<input type="password" name="password" placeholder="Passord">
			<input type="submit" value="Logg inn">
		</form>
	</body>
</html>
