{% load staticfiles %}

<!doctype html>
<html>
    <head>
        <title>Cloud Burgers</title>
		<meta charset="utf-8">
		<link href="{% static 'css/style.css' %}" rel="stylesheet">
		<meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
	<body>
		<section class="top">
			<h1>Helt himmelske burgere</h1>
		</section>
		<section class="bottom">
			<div class="contact">
				<h2>Cloud Burgers</h2>
				<p><a href="#">Langkaia 1, Oslo</a><BR><BR>Reservasjon i restaurant eller på tlf <a href="tel:+47 94 85 88 33">+47 94 84 88 33</a>.</p>
				<p></p>
			</div>
			<div class="menu">
				<table>
					<tr>
						<td>Burger</td>
						<td>120kr</td>
					</tr>
					<tr>
						<td>Dobbel</td>
						<td>135kr</td>
					</tr>
					<tr>
						<td>Cheeseburger</td>
						<td>130kr</td>
					</tr>
					<tr>
						<td>Dobbel</td>
						<td>145kr</td>
					</tr>
				</table>
				<table>
					<tr>
						<td>Fries</td>
						<td>30kr</td>
					</tr>
					<tr>
						<td>Søtpotet</td>
						<td>45kr</td>
					</tr>
					<tr>
						<td>Brus</td>
						<td>30kr</td>
					</tr>
					<tr>
						<td>Milkshake</td>
						<td>45kr</td>
					</tr>
				</table>
				<p>Alle burgere serveres med tomat, løk, salat, hjemmelaget majones og bbq-sauce.</p>
			</div>
		</section>
	</body>
</html>
